bibliotecaBinaria.xml

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bibliotecaBinaria.org" xmlns="http://www.bibliotecaBinaria.org">



    <xsd: element name="biblioteca">
        <xsd: complexType>
            <xsd: sequence>
                <xsd: element ref="codigo" maxOccurs="unbounded" />
            </xsd: sequence>
        </xsd: complexType>
    </xsd: element>
    <xsd: element name="codigo">
        <xsd: complexType>
            <xsd: sequence>
                <xsd: element name="titulo" type="xs:string" />
                <xsd: element name="autor" type="xs:string" />
                <xsd: element name="editorial" type="xs:string" />
                <xsd: element name="edicion" type="xs:string" />
                <xsd: element name="fecha" type="xs:string" />
                <xsd: element name="isbn" type="xs:string" />
                <xsd: element name="numero" type="xs:string" />
            </xsd: sequence>
        </xsd: complexType>
    </xsd: element>



    <biblioteca>
        <codigo>
            <titulo>patata</titulo>
            <autor>huerta</autor>
            <editorial>editorial</editorial>
            <edicion>edicion</edicion>
            <fecha>30.12.2019</fecha>
            <isbn>666</isbn>
            <numero>666</numero>
        </codigo>

        <codigo>
            <titulo>patata</titulo>
            <autor>huerta</autor>
            <editorial>editorial</editorial>
            <edicion>edicion</edicion>
            <fecha>30.12.2019</fecha>
            <isbn>666</isbn>
            <numero>666</numero>
        </codigo>

        <codigo>
            <titulo>patata</titulo>
            <autor>huerta</autor>
            <editorial>editorial</editorial>
            <edicion>edicion</edicion>
            <fecha>30.12.2019</fecha>
            <isbn>666</isbn>
            <numero>666</numero>
        </codigo>

    </biblioteca>


    <!-- <?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.books.org"
            xmlns="http://www.books.org">
            
   <xsd:element name="BookStore">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element ref="Book" minOccurs="1" 
                         maxOccurs="unbounded"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="Book">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element ref="Title" minOccurs="1" maxOccurs="1"/>
            <xsd:element ref="Author" minOccurs="1" maxOccurs="1"/>
            <xsd:element ref="Date" minOccurs="1" maxOccurs="1"/>
            <xsd:element ref="ISBN" minOccurs="1" maxOccurs="1"/>
            <xsd:element ref="Publisher" minOccurs="1" maxOccurs="1"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="Title" type="xsd:string"/>
   <xsd:element name="Author" type="xsd:string"/>
   <xsd:element name="Date" type="xsd:string"/>
   <xsd:element name="ISBN" type="xsd:string"/>
   <xsd:element name="Publisher" type="xsd:string"/>
</xsd:schema> -->